
{% capture favicon_path %}{{ '/assets/img/favicons' | relative_url }}{% endcapture %}

<link rel="icon" href="https://cdn.ynwk.org/img/branding/logos/default/logo.svg">
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.ynwk.org/img/branding/logos/default/logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.ynwk.org/img/branding/logos/default/logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.ynwk.org/img/branding/logos/default/logo.png">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#ff4747">
<meta name="theme-color" content="#ff4747">
