---
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

<h1 data-toc-skip>{{ page.title }}</h1>

{% include post-meta.html %}

  <script>
    function toggleDiv(divId) {
      var div = document.getElementById(divId);
      if (div.style.display === "none") {
        div.style.display = "block";
      } else {
        div.style.display = "none";
      }
    }
  </script>

<div class="post-content">
  <a href="#" onclick="toggleDiv('content')">View item details</a>
  <div id="content" style="display:none;">
  <table>
    <tr>
      <td><b>CLASS:</b></td>
      <td>Lawbook item</td>
    </tr>
    <tr>
      <td><b>TYPE:</b></td>
      <td>{{page.type}}</td>
    </tr>
    <tr>
      <td><b>PATH:</b></td>
    <td>{{page.url | remove: 'https' | remove: 'archive.legal.yeahgames.net' | remove: '://' | replace: '/',' → ' | remove: 'overview'}}</td>
    </tr>
    <tr>
      <td><b>SECTION:</b></td>
      <td>{{page.section}}</td>
    </tr>
  </table>
</div>
  <hr/>
  {{ content }}
</div>

{% include post-tail.html %}